<div class="ms-3 mt-1">
    <span class="fs-2">
        Upload CSV
    </span>
    <br>
    <div class="mt-2 d-inline-flex">
            <label for="form-file" class="form-label"></label>
            <input class="form-control me-2" type="file" id="form-file" accept=".csv"  (change)="getFile($event)" #fileInput>      
            <button class="btn btn-primary"  (click)="submit()">Process</button>
    </div>
    <div class="row mt-3" >
        <div class="col-6" *ngIf="errors.length > 0; else noErrors">
            <table class="table">
                <thead>
                    <tr>
                    <th scope="col">Error(s)</th>
                    </tr>
                </thead>
                <tbody>
                <tr *ngFor="let error of errors">
                    <td>{{error}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
        <ng-template  #noErrors>
            <div *ngIf="toDisplay" class="col-12">
                <table class="table">
                    <thead>
                        <tr>
                            <th *ngFor="let csvHeader of correctCsvHeaders">
                                {{csvHeader}}
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <ng-container *ngFor="let row of csvData">
                          <tr>
                                <td> {{row.id}}</td>
                                <td> {{row.title}}</td>
                                <td> {{row.price}}</td>
                                <td> {{row.brand}}</td>
                                <td> {{row.quantity}}</td>
                          </tr>
                        </ng-container>
                      </tbody>                  
                </table>
            </div> 
        </ng-template>
</div>

    <!-- todo add sticky table header and bg-light -->
    <!-- todo add safe check in html too -->

    <!-- todo to change table header into captial -->