<div class="container">
    <div class="row mt-4">
        <div class="col part">
            Upload CSV
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-3">
            <input type="file" accept=".csv" name="uploadCsv" (change)="getFile($event)"/>
        </div>
    </div>
    <div class="row mt-3" >
        <div class="col-3" *ngIf="errors.length > 0; else noErrors">
            <table class="table">
                <thead>
                    <tr>
                    <th scope="col">Error(s)</th>
                    </tr>
                </thead>
                <tbody>
                <tr *ngFor="let error of errors">
                    <td>{{error}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<ng-template  #noErrors>
    <div *ngIf="csvData.length > 0">
        Successfull!
    </div> 
</ng-template>