<div class="row m-4">
    <div class="col-2  filter-sort sticky-top d-none d-lg-block">
        <!-- todo change this to template reference forms -->
        <form #filterForm="ngForm" (ngSubmit)="updateProducts(filterForm.value)" class="mt-3">
            <label for="price" class="form-label">Price</label>
            <!-- <input type="range" class="form-range" min="1" max="200000" step="100" id="price" name="price" (ngModelChange)="updatePriceFilter(priceSpy)" [ngModel]="currentPrice" #priceSpy="ngModel"> -->
            <input style="border-color: red;" type="range" class="form-range input-min" min="1" max="200000" step="100"
                id="priceMin" name="priceMin" [(ngModel)]="priceMin">
            <input type="range" class="form-range" min="1" max="200000" step="100" id="priceMax" name="priceMax"
                [(ngModel)]="priceMax">
            <div class="d-flex justify-content-between align-items-center">
                <!-- <span>0</span> -->
                <input type="number" class="form-control" [(ngModel)]="priceMin" name="price-min">
                <span>-</span>
                <!-- todo convert the divs into span/p -->
                <input type="number" class="form-control" [(ngModel)]="priceMax" name="price-max">
            </div>
            <div>
                <label for="rating" class="form-label mt-3">Rated Above {{currentRating}}★</label>
                <!-- <input type="range" class="form-range" min="0" max="5" step="0.1" id="rating" name="rating" ngModel
                    (ngModelChange)="updateRatingFilter(ratingSpy)" [ngModel]="currentRating" #ratingSpy="ngModel"> -->
                    <input type="range" class="form-range" min="0" max="5" step="0.1" id="rating" name="rating" 
                     [(ngModel)]="currentRating">
            </div>
            <button class="btn btn-primary btn-sm" type="submit">Filter <i class="mdi mdi-filter"></i></button>
            <div class="dropdown mt-2">
                <button class="btn btn-secondary dropdown-toggle btn-sm" type="button" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    <span class="me-2">Sort</span>
                    <i class="mdi mdi-sort"></i>
                </button>
                <div class="dropdown-menu">
                    <span><a class="dropdown-item" (click)="lowToHighSort()">Price(Low to High)</a></span>
                    <span><a class="dropdown-item" (click)="highToLowSort()">Price(High to Low)</a></span>
                    <span><a class="dropdown-item" (click)="alphabeticallySort()">Alphabetically</a></span>
                    <span><a class="dropdown-item" (click)="ratingSort()">Rating</a></span>
                </div>
            </div>
        </form>
    </div>
    <div class="col-10 p-2">
        <!-- todo remove empty divs -->
        <button class="btn btn-primary btn-sm d-md-block d-lg-none text-start ms-2"
            data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">Filter &
            Sort</button>

        <div class="row p-2">
            <div *ngFor="let item of productList" class="col-12 col-sm-6 col-md-4 col-lg-3">
                <div class="card mb-3">
                    <!-- todo change card heights -->
                    <div [routerLink]="['/product-detail', item.id]">
                        <img src="{{item.thumbnail}}" class="card-img-top thumbnail" alt="...">
                        <!-- todo remove inline styles use bootstrap classes -->
                        <div class="card-body">
                            <h5 class="card-title text-truncate ">{{item.title}}</h5>
                            <span class="card-text">₹{{item.price|number:'1.2-2'}} </span>
                            <span class="">{{item.rating}} ★</span>
                        </div>
                    </div>
                    <!-- todo refactor the list-group using row cols -->
                    <div class="list-group list-group-flush">
                        <div class="list-group-item text-end">
                            <div class="row">
                                <!-- <div class="col text-start">
                                            <button type="button" class="btn btn-primary">Add to Cart</button>
                                        </div> -->
                                <button type="button" class="btn btn-primary mt-2 mb-3"
                                    *ngIf="addToCart.toDisplay(item.id)"
                                    (click)="addToCart.addNewItem(item.id);toast.handleSuccess('Added To Cart')">Add to
                                    Cart
                                </button>
                                    <div class="input-group" *ngIf="!addToCart.toDisplay(item.id)">
                                        <button type="button" class="btn btn-secondary"
                                            (click)="addToCart.decreaseQuantity(item.id)">-</button>
                                        <input type="number" class="form-control"
                                            [value]="addToCart.getQuantity(item.id)"
                                            (change)="updateQuantity(item.id,quantitySpy)" #quantitySpy>
                                        <!-- todo make input editable add only number validation decimal not valid-->
                                        <button type="button" class="btn btn-secondary"
                                            (click)="addToCart.increaseQuantity(item.id)">+</button>
                                    </div>
                            </div>
                        </div>
                        <div class="list-group-item text-truncate">{{item.description}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- todo add offcanvas for small screens -->
<!-- todo instead show filter button for small screens (d-block)-->
<!-- todo update the price filter-->

<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
    <div class="offcanvas-body">
        <form #filterForm="ngForm" (ngSubmit)="updateProducts(filterForm.value)" class="mt-3">
            <label for="price" class="form-label">Price</label>
            <!-- <input type="range" class="form-range" min="1" max="200000" step="100" id="price" name="price" (ngModelChange)="updatePriceFilter(priceSpy)" [ngModel]="currentPrice" #priceSpy="ngModel"> -->
            <input type="range" class="form-range input-min" min="1" max="200000" step="100"
                id="priceMin" name="priceMin" [(ngModel)]="priceMin">
            <input type="range" class="form-range" min="1" max="200000" step="100" id="priceMax" name="priceMax"
                [(ngModel)]="priceMax">
            <div class="d-flex justify-content-between align-items-center">
                <!-- <span>0</span> -->
                <input type="number" class="form-control" [(ngModel)]="priceMin" name="price-min">
                <span>-</span>
                <!-- todo convert the divs into span/p -->
                <input type="number" class="form-control" [(ngModel)]="priceMax" name="price-max">
            </div>
            <div>
                <label for="rating" class="form-label mt-3">Rated Above {{currentRating}}★</label>
                <input type="range" class="form-range" min="0" max="5" step="0.1" id="rating" name="rating" 
                    [(ngModel)]="currentRating">
            </div>
            <button class="btn btn-primary btn-sm" type="submit">Filter <i class="mdi mdi-filter"></i></button>
            <div class="dropdown mt-2">
                <button class="btn btn-secondary dropdown-toggle btn-sm" type="button" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    <span class="me-2">Sort</span>
                    <i class="mdi mdi-sort"></i>
                </button>
                <div class="dropdown-menu">
                    <span><a class="dropdown-item" (click)="lowToHighSort()">Price(Low to High)</a></span>
                    <span><a class="dropdown-item" (click)="highToLowSort()">Price(High to Low)</a></span>
                    <span><a class="dropdown-item" (click)="alphabeticallySort()">Alphabetically</a></span>
                    <span><a class="dropdown-item" (click)="ratingSort()">Rating</a></span>
                </div>
            </div>
        </form>
    </div>
  </div>