<div class="container">
    <div class="d-flex align-items-baseline">
        <button class="btn btn-primary mt-3" type="button" data-bs-toggle="collapse" data-bs-target="#collapseWidthExample" aria-expanded="false" aria-controls="collapseWidthExample">
            <div class="d-flex align-items-center">
                <div>
                    Filters
                </div>
                <div class="mdi mdi-filter-outline pe-1">

                </div>
            </div>
        </button>
        <!-- <div class="dropdown ms-2">
            <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                <div class="d-flex">
                    <div>
                        Sort
                    </div>
                    <div class="mdi mdi-sort pe-1">
    
                    </div>
                </div>
            </button>
            <ul class="dropdown-menu">
            <li><a class="dropdown-item" (click)="aToZSort()">Price(Low to High)</a></li>
            <li><a class="dropdown-item" (click)="ztoASort()">Price(High to Low)</a></li>
            <li><a class="dropdown-item" (click)="alphabeticallySort()">Alphabetically</a></li>
            <li><a class="dropdown-item" (click)="ratingSort()">Rating</a></li>
            </ul>
        </div> -->
        <div class="dropdown ms-2">
            <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                <span class="me-2">Sort</span>
                <i class="mdi mdi-sort pe-1"></i>
            </button>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" (click)="aToZSort()">Price(Low to High)</a></li>
                <li><a class="dropdown-item" (click)="ztoASort()">Price(High to Low)</a></li>
                <li><a class="dropdown-item" (click)="alphabeticallySort()">Alphabetically</a></li>
                <li><a class="dropdown-item" (click)="ratingSort()">Rating</a></li>
                </ul>
        </div>
    </div>
    <div class="row mt-sm-5 gap-4">
        <div class="col-2 p-4 collapse collapse-horizontal" id="collapseWidthExample">
            <form [formGroup]="filterForm" (ngSubmit)="updateProducts()">
            <div>
                <label for="price" class="form-label">Price</label>
                <input type="range" class="form-range" min="1" max="200000" step="100" id="price" formControlName="price">
                <div class="d-flex justify-content-between">
                    <div>0</div>
                    <div>-</div>
                    <div>₹{{this.filterForm.get('price')?.value}}</div>
                    <div>
                    <!-- <input type="text" class="form-control" [value]="filterForm.get('price')?.value" (input)="updatePrice(filterForm.get('price')?.value.toString())"> -->
                    </div>
                </div>
            </div>
            <div>
                <label for="rating" class="form-label mt-3">Rated Above {{this.filterForm.get('rating')?.value}}★</label>
                <input type="range" class="form-range" min="0" max="5" step="0.1" id="rating" formControlName="rating">
            </div>
            <button class="btn btn-primary" type="submit">Filter</button>
        </form>
        </div>
        <div class="col p-2" style="background-color: white;">
            <div>
                <div class="row p-2">
                    <div *ngFor="let item of productList" class="col-sm-4">
                        <div>
                            <div class="card mb-3">
                                <a [routerLink]="['/product-detail', item.id]">
                                    <img src="{{item.thumbnail}}" class="card-img-top" alt="..." style="aspect-ratio: 1;">
                                    <div class="card-body">
                                        <h5 class="card-title">{{item.title}}</h5>
                                        <p class="card-text">₹{{item.price}} | {{item.seller}}</p>
                                    </div>
                                </a>
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item text-end">
                                        <div class="row">
                                            <div class="col text-start">
                                                <button type="button" class="btn btn-primary">Add to Cart</button>
                                            </div>
                                            <!-- <div>
                                                <button type="button" class="btn btn-primary mt-2 mb-3" *ngIf="addToCart.toDisplay(item.id) else quantitySetter" (click)="addToCart.increaseQuantity(reqProduct.id)">Add to Cart</button>
                                                <ng-template #quantitySetter>
                                                    <div class="input-group w-6">
                                                    <button type="button" class="btn btn-secondary" (click)="decreaseQuantity(item.id)">-</button>
                                                    <input type="text" class="form-control" [(ngModel)]="quanMap.get(item.id)">
                                                    <button type="button" class="btn btn-secondary" (click)="increaseQuantity(item.id)">+</button>
                                                    </div>
                                                </ng-template>
                                            </div> -->
                                            <div class="col p-2">{{item.rating}} ★</div>
                                        </div>
                                    </li>
                                    <li class="list-group-item">{{item.description}}</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>