#collapseWidthExample{
  /* transition: width 0.5s; */
  background-color: rgb(233, 243, 251);
  transition-timing-function: ease-in;
}
input-min{
  /* border-radius: 1em; */
  border-color: red !important;
  /* border-width: 10px; */
}
.mdi{
  font-size: 130%;
}
a:link {
  text-decoration: none;
  text-emphasis-color: black;
}
.form-label{
  font-weight: bold;
}

.filter-sort{
  background-color: #e2e3e5;
  top: 7rem;
  height: 80vh;
  border-radius: 0.5rem;
}
.thumbnail{
aspect-ratio: 1;
}
