
.filter-sort{
  background-color: #e2e3e5;
  top: 6rem;
  height: 80vh;
  border-radius: 0.5rem;
}
.thumbnail{
aspect-ratio: 1;
}
.form-control{
  font-size: 0.8rem;
}
.max-width{
  max-width: 2.5rem;
}

