.title{
    font-size: 3em;
}
.img-thumbnail{
    width: 120px;
}
#title{
    font-size: 2em;
    font-weight: bold;
}

.img-aspect{
    aspect-ratio: 1;
    width: 9em;
}
.input-group{
    width: 25%;
}
.itemCard{
    border-color: azure;
    border-width: 10px;
}
#emptyText{
    font-size: 2em;
}