<div class="container">
        <span class="fs-2">
            Cart
        </span>      
    <div class="row mt-2" *ngIf="addToCart.getTotalItemsInCart() > 0 else isEmpty">
        <div class="col-10">
            <table class="table align-middle">    
                <thead>
                    <tr>
                        <th scope="col" class="sticky-top table-top bg-light">Image</th>
                        <th scope="col" class="sticky-top table-top bg-light">Name</th>
                        <th scope="col" class="sticky-top table-top bg-light">Price</th>
                        <th scope="col" class="sticky-top table-top bg-light">Total Price</th>
                        <th scope="col" class="sticky-top table-top bg-light">Quantity</th>
                    </tr>
                </thead>
                <tbody>
                <tr *ngFor="let item of inCart" >
                        <td [routerLink]="['/product-detail', item.id]">
                            <div class="ratio ratio-1x1 img-width">
                                <img src="{{item.thumbnail}}" class="img-fluid img-aspect rounded" alt="...">
                            </div>
                        </td>
                            <td >
                                {{item.title}}
                            </td>
                            <td >
                                ₹{{(item.price)|number:'1.2-2'}}
                            </td>
                            <td >
                                ₹{{getQuantityTotal(item.id,item.price)|number:'1.2-2'}}
                            </td>
                        <td >
                            <div class="input-group">
                                <button type="button" class="btn btn-secondary" (click)="decreaseQuantity(item.id)">-</button>
                                <input type="number" class="w-2 border text-center" [value]="addToCart.getQuantity(item.id)"
                                    (change)="updateQuantity(item.id,quantitySpy)" #quantitySpy>  
                                <button type="button" class="btn btn-secondary" (click)="increaseQuantity(item.id)">+</button>
                                <button type="button" class="btn btn-danger" (click)="removeItem(item.id)"><span
                                    class="mdi mdi-trash-can-outline"></span></button>
                            </div>
                            
                        </td>
                </tr> 
                </tbody>
            </table>
            <div *ngIf="addToCart.getTotalItemsInCart() > 0">
                ₹{{(totalPrice)|number:'1.2-2'}}/-
            </div>
            <div class="d-flex">
                <button type="button" class="btn btn-danger  " (click)="clearCart()">Clear Cart</button>
                <button type="button" class="btn btn-secondary ms-2" (click)="placeOrder()">Place Order</button>
            </div>
        </div>
        
    </div>

</div>
<ng-template #isEmpty>
    <div class="fs-2">
        <i class="mdi mdi-robot-happy-outline me-2"></i>
        <span>
            Add Some Items!
        </span>
    </div>
</ng-template>

<!-- todo to change total layout -->