<div class="container">
  <!-- todo use either container or row/column-->
  <div class="row mt-5">
    <div class="col-5" >
      <!-- todo explore position  -->
      <!-- <img src="" alt="prod" style="aspect-ratio: 1;" width="500px"> -->
      <div id="carouselExample" class="carousel slide" style="height: 100%;">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <!-- todo use parent container for image sizing -->
            <!-- todo images classes -->
            <div class="w-100 ">
              <img src={{reqProduct.thumbnail}}  class="img-fluid my-auto" alt="...">
            </div>
          </div>
          <div *ngFor="let image of reqProduct.images">
            <div class="carousel-item">
              <div class="w-100">
              <img src="{{image}}" class="img-fluid" alt="...">
              </div>
            </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
    <div class="col ps-4 ">
      <div class="d-flex flex-column align-items-start">
      <!-- todo dont use col and d-flex in same class -->
        <div class="fs-1">{{reqProduct.title}}</div>
        <!-- todo use bootstrap classes for font size -->
        <div class="d-flex align-items-baseline">
          <div class="price fs-3">₹{{reqProduct.price|number:'1.2-2' }}</div>
          <!-- todo use pipes instead commas -->
          <span class="mdi mdi-star-outline ms-4"> {{reqProduct?.rating}} / 5</span>
        </div>
        <div>
          <button type="button" class="btn btn-primary mt-2 mb-3" *ngIf="addToCart.toDisplay(reqProduct.id) else quantitySetter" (click)="addToCart.addNewItem(reqProduct.id);toast.handleSuccess('Added To Cart')">Add to Cart</button>
          <ng-template #quantitySetter>
            <div class="input-group w-6">
              <button type="button" class="btn btn-secondary" (click)="decreaseQuantity()">-</button>
              <!-- <input type="number" class="form-control" [(ngModel)]="quantity" readonly> -->
              <input type="number" class="form-control" [value]="addToCart.getQuantity(reqProduct.id)"
                        (change)="cartQuantity(reqProduct.id,quantitySpy)" #quantitySpy>
              <button type="button" class="btn btn-secondary" (click)="increaseQuantity()">+</button>
            </div>
          </ng-template>
        </div>
        <div>{{reqProduct?.description}} It is a long established fact that a reader will be distracted by the readable
          content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less
          normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable
          English. 
        </div>
      </div>
    </div>

  </div>
</div>
<app-toast></app-toast>