<div class="container">
  <div class="row mt-5">
    <div class="col-lg-5 col-md-6 col-sm-10" >
      <div id="product-carousel" class="carousel slide m-2" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="ratio ratio-4x3">
              <img src={{reqProduct?.thumbnail}}  class="img-fluid rounded" alt="...">
            </div>
          </div>
          <div *ngFor="let image of reqProduct.images">
            <div class="carousel-item">
              <div class="ratio ratio-4x3">
                <img src="{{image}}" class="img-fluid rounded" alt="...">
              </div>
            </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#product-carousel" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" ></span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#product-carousel" data-bs-slide="next">
          <span class="carousel-control-next-icon" ></span>
        </button>
      </div>
    </div>
    <div class="col-sm-6 col-md-6 col-lg-6">
      <div class="d-flex flex-column align-items-start">
        <span class="fs-5 text-muted">{{reqProduct?.brand}}</span>
        <span class="fs-2">{{reqProduct?.title}}</span>
        <div class="d-flex align-items-baseline">
          <div class="price fs-4">₹{{reqProduct?.price|number:'1.2-2' }}</div>
          <span class="ms-4 fs-6">
            {{reqProduct?.rating}} / 5
            <i class="mdi mdi-star text-warning"></i> 
          </span>
        </div>
          <button type="button" class="btn btn-primary mt-2 mb-3" *ngIf="addToCart.toDisplay(reqProduct?.id) else quantitySetter" (click)="addToCart.addNewItem(reqProduct?.id);toast.handleSuccess('Added To Cart')">Add to Cart</button>
        <p>
          {{reqProduct?.description}}
        </p>
      </div>
    </div>
  </div>
</div>

<ng-template #quantitySetter>
  <span class="input-group mt-2 mb-3 width-10">
    <button type="button" class="btn btn-secondary" (click)="decreaseQuantity()">-</button>
    <input type="number" class="form-control text-center" [value]="addToCart.getQuantity(reqProduct?.id)"
              (change)="cartQuantity(reqProduct?.id,quantitySpy)" #quantitySpy>
    <button type="button" class="btn btn-secondary" (click)="increaseQuantity()">+</button>
    <button type="button" class="btn btn-danger"
      (click)="addToCart.removeItem(reqProduct?.id)"><i class="mdi mdi-trash-can-outline"></i></button>
  </span>
</ng-template>