<nav class="navbar bg-secondary-subtle sticky-top">
  <div class="d-flex ms-3">
    <div class="p-1 w-100">
      <a class="navbar-brand" (click)="redirectToProducts()">
        <img src="../../../assets/inclogo.png" alt="Logo" width="30" height="30" class="d-inline-block align-text-top">
        Increff | eShop
      </a>
    </div>
    <a class="mdi mdi-cart flex-shrink-1 me-3 position-relative" (click)="redirectToCart()"><div
        class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger" *ngIf="getTotal() > 0">
        {{getTotal()}}
      </div></a>
    <a class="mdi mdi-file-upload-outline me-3" routerLink="/upload"></a>
    <!-- <a class="mdi mdi-account-circle flex-shrink-1 me-3" (click)="handleLoginClick()"></a> -->
    <div class="dropdown">
      <a class="dropdown-toggle mdi mdi-account-circle flex-shrink-1 me-3" data-bs-toggle="dropdown" aria-expanded="false">
      </a>
      <ul class="dropdown-menu me-4">
          <li *ngIf="login.isLoggedIn()"><a class="dropdown-item" (click)="logOut()">Logout</a></li>
          <li *ngIf="!login.isLoggedIn()"><a class="dropdown-item" (click)="redirectLogin()">Login</a></li>
      </ul>
  </div>
  </div>
</nav>