<div class="row mt-5">
  <div class="col-auto">
    <i class="mdi mdi-account">
    </i>
  </div>
  <div class="col-6">
    <div class="mb-3 loginTitle">
      User Log In
    </div>
  </div>
</div>
<form #loginForm="ngForm" (ngSubmit)="submit(loginForm.value)">
  <div class="row">
    <div class="col-3">
      <div class="form-floating mb-3">
        <input class="form-control" type="email" id="floatingInput" name="email" placeholder="name@example.com"
          email required ngModel #emailSpy="ngModel" [ngClass]="{'is-invalid': !emailSpy.valid && (emailSpy.dirty)}">
        <label for="floatingInput">Email address</label>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-3">
      <div class="form-floating">
        <input type="password" class="form-control" id="floatingPassword" placeholder="Password"
       name="password" required ngModel minlength="3" #passwordSpy="ngModel"
       [ngClass]="{'is-invalid': !passwordSpy.valid && (passwordSpy.dirty || passwordSpy.touched)}">
       <label for="floatingPassword">Password</label>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-6 mt-3">
      <button type="button" class="btn btn-secondary" type="submit" [disabled]="!loginForm.valid">Submit</button>
    </div>
  </div>
</form>