<div class="mx-4 mt-3">
  <div class="d-flex fs-1 mb-2">
    <i class="mdi mdi-account">
    </i>
    <span class="ms-2">
      User Login
    </span>
  </div>
  <form #loginForm="ngForm" (ngSubmit)="submit(loginForm?.value)">
    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-6 col-xl-3">
        <div class="form-floating mb-3">
          <input class="form-control" type="email" id="floating-input" name="email" placeholder="name@example.com"
            email required ngModel #emailSpy="ngModel" [ngClass]="{'is-invalid': !emailSpy.valid && (emailSpy.dirty)}">
          <label for="floating-input">Email address</label>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-6 col-xl-3">
        <div class="form-floating">
          <input type="password" class="form-control" id="floating-password" placeholder="Password"
         name="password" required ngModel minlength="3" #passwordSpy="ngModel"
         [ngClass]="{'is-invalid': !passwordSpy.valid && (passwordSpy.dirty || passwordSpy.touched)}">
         <label for="floating-password">Password</label>
        </div>
      </div>
    </div>
  
    <div class="row">
      <div class="col-6 mt-3">
        <button type="button" class="btn btn-secondary" type="submit" [disabled]="!loginForm?.valid">Submit</button>
      </div>
    </div>
  </form>
</div>

